<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gestión de Citas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="alLimpiarTodasCitas()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-formulario 
    (citaAgregada)="alAgregarCita($event)"
  ></app-formulario>

  <div *ngFor="let cita of citas" class="lista-citas">
    <app-comp-frase 
      [cita]="cita"
      [botonBorrar]="true"
      (borrar)="alEliminarCita($event)"
    ></app-comp-frase>
  </div>
</ion-content>