<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Citas Famosas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="citaActual" class="contenedor-cita">
    <app-comp-frase [frase]="citaActual"></app-comp-frase>
    
    <div class="botones">
      <ion-button expand="block" (click)="cambiarCita()">
        Otra Cita
      </ion-button>
      
      <ion-button expand="block" routerLink="/citas">
        Ver Todas las Citas
      </ion-button>
      
      <ion-button expand="block" routerLink="/configuracion">
        Configuración
      </ion-button>
    </div>
  </div>
</ion-content>