<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Citas Famosas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="citaActual" class="contenedor-cita">
    <app-comp-frase 
    [frase]="citaActual"
    [botonBorrar]="sePuedeEliminar"
    (eliminar)="cargarCitaAleatoria()"
    ></app-comp-frase>
    
    <div class="botones">
      <ion-button expand="block" (click)="cambiarCita()">
        Otra Cita
      </ion-button>
      
      <ion-button expand="block" routerLink="/citas">
        Ver Todas las Citas
      </ion-button>
      
      <ion-button expand="block" routerLink="/configuracion">
        Configuración
      </ion-button>
    </div>
  </div>

  <div *ngIf="!citaActual || citaActual.texto === 'No hay citas disponibles'" class="sin-citas">
    <p>No hay citas disponibles. Agrega algunas citas primero.</p>
    <ion-button expand="block" routerLink="/citas">
      Agregar Citas
    </ion-button>
  </div>
</ion-content>