<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Opciones de la Aplicación</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        ¿Desea poder borrar citas en el inicio (frase aleatoria)?
      </ion-label>
      <ion-toggle 
        [(ngModel)]="puedeEliminarEnInicio"
        (ionChange)="alCambiarConfiguracion()"
      ></ion-toggle>
    </ion-item>
    <ion-item button (click)="alRestablecerConfiguracion()" color="medium">
      <ion-icon slot="start" name="refresh-outline"></ion-icon>
      <ion-label>Restablecer Configuración</ion-label>
    </ion-item>
  </ion-list>
  <div class="informacion">
    <p><small>La configuración se guarda automáticamente y persiste después de cerrar la aplicación.</small></p>
  </div>
</ion-content>